<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9LQzXBjfD3JVXcz1t_uzya-glTv3NVds</string>
	<key>GCM_SENDER_ID</key>
	<string>500282370381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kavindu.flutterFirebaseCrud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-a592c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-a592c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500282370381:ios:25dc6ae94c52c01761ef04</string>
</dict>
</plist>